body {
	font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans TC', sans-serif;
	text-transform: none;
}

.subheading {
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1.2rem;
	text-transform: none;
	letter-spacing: -0.05rem;
}

h1 .text-primary {
	font-size: 3rem;
	letter-spacing: -0.05rem;
	line-height: 3rem;
}

.bg-primary {
	background-color: #FFD6C4!important;
	background-image: url("inspiration-geometry.png");
}

.text-primary {
	color: #FFD6C4!important;
}

#sideNav .navbar-nav .nav-item .nav-link {
	text-transform: none;
}

a {
	color: #FFD6C4;
}

a:active, a:focus, a:hover {
	color: #FFD6C4;
}

.social-icons a:hover {
	background-color: #FFD6C4;
}

.dev-icons .list-inline-item i:hover {
    color: #FFD6C4;
}

.graph_set {
	margin-top: 3rem;
}

.small-text {
	font-size: 1.2rem;
}

.card-img-top {
    width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}



